{% extends "layout.html" %}
{% block title %}License Information{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>License Information</h1>
  <p class="important">
    Provided here is a list of the third-party code libraries used by TESI.
  </p>
  <h2>Flask (BSD License)</h2>
  <p></p>
  <h2>openpyxl (MIT License)</h2>
  <p></p>
  <h2>Bootstrap-Flask (MIT License)</h2>
  <p></p>
  <h2>pandas (BSD 3 License)</h2>
  <p></p>
  <h2>requests (Apache Software License (Apache-2.0))</h2>
  <p></p>
  <h2>Pyinstaller (GNU General Public License v2)</h2>
  <p></p>
  <h2></h2>
  <p>jQuery (MIT License)</p>

{% endblock %}